.sec1-2 {
    background-image: url(../images/2018/11/slider1.jpg);
    background-position: top;
    background-size: 100%;
}

.sec1-2-header {
    font-size: 55px;
    margin: 128px 0px;
}

.div-input:hover {
    border-bottom-color: #0b65ed !important;
    transition: 0.4s;
}

.form-user-msg:hover {
    border-bottom-color: #0b65ed !important;
    transition: 0.4s;
}